<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= `${currentPlayer.name} (${currentPlayer.health})` %> attacked <%= `${otherPlayer.name} (${otherPlayer.health})` %></h1>
    <a id="turn-link"href="/game">next turn</a>
  </body>
</html>
